<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if (guessedRight) { %>
    <h1>Você acertou!</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zXl7kmfIlxk?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
    <% } else { %>
    <h1>Você errou</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qPl_ToZtDoQ?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
    <% } %>
    <div>
      <a href="/">Tentar de novo</a>
    </div>
  </body>
</html>
